<?xml version="1.0"?>
<config>
    <modules>
        <Sttl_Topcart>
            <version>2.0.0</version>
        </Sttl_Topcart>
    </modules>
    <frontend>     
        <routers>
            <topcart>
                <use>standard</use>
                <args>
                    <module>Sttl_Topcart</module>
                    <frontName>topcart</frontName>
                </args>
            </topcart>
        </routers>
        <layout>
            <updates>
                <topcart>
                    <file>topcart.xml</file>
                </topcart>
            </updates>
        </layout>
    </frontend>    
    <global>        
        <blocks>
            <topcart>
                <class>Sttl_Topcart_Block</class>
            </topcart> 
            <page>
                <rewrite>
                    <html_header>Sttl_Topcart_Block_Html_Header</html_header>
                </rewrite>
            </page>
        </blocks>      
        <helpers>
            <topcart>
                <class>Sttl_Topcart_Helper</class>
            </topcart> 
        </helpers>      
    </global>
</config>